@media (max-width: 900px) {
	.header__inner {
		justify-content: space-around;
	}
	.logo {
		margin-right: 20px;
	}
	.action__phone {
		display: none;
	}
	.cart {
		margin-left: 0;
	}
}
@media (max-width: 768px) {
	.header__inner {
		justify-content: space-between;
		position: relative;
		height: 80px;
	}
	.logo {
		margin: 0 auto;
	}
	.action {
		margin: 0;
	}
	.nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-top: 100px;
		opacity: 0;
	}
	.nav__list {
		display: block;
		text-align: center;
		position: absolute;
		top: 33.33%;
		left: 50%;
		transform: translateY(-50%);
		transform: translateX(-50%);
	}
	.nav__item {
		margin-bottom: 20%;
	}
	.nav__link {
		font-size: 33px;
		&:hover {
			color: $white-text-color;
		}
	}
	.burger {
		display: block;
	}
}

@media (max-width: 470px) {
	.logo__img {
		width: 90%;
	}
}
