.header {
	&::before {
		content: '';
		position: absolute;
		left: 0;
		height: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
}
.header__inner {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 120px;
}
.logo {
	cursor: pointer;
}
.nav__list {
	display: flex;
	gap: 0 45px;
}
.nav__link {
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.021em;

	&:hover {
		color: $action-color;
		transition: all 0.2s ease-in-out;
	}
}
.action {
	position: relative;
	display: flex;
	margin-left: 55px;
}
.action__phone {
	&::before {
		content: '';
		position: absolute;
		left: -33px;
		top: 0;
		width: 27px;
		height: 27px;
		background-image: url('../assets/phone.svg');
	}
	&:hover::before {
		content: '';
		position: absolute;
		left: -33px;
		top: 0;
		width: 27px;
		height: 27px;
		background-image: url('../assets/phone_active.svg');
		transition: all 0.2s ease-in-out;
	}

	&:hover {
		color: $action-color;
		transition: all 0.2s ease-in-out;
	}
}
.cart {
	margin-left: 65px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	&:hover {
		transform: translateY(-2px);
		transition: all 0.2s ease-in-out;
	}
}
.cart.overlay {
	opacity: 0;
}

.burger {
	display: none;
}
