.header {
	height: 100vh;
}
.header::before {
	content: '';
	position: absolute;
	right: 150px;
	top: 0;
	width: 705px;
	height: 826px;
	background-color: $bg-color;
	z-index: -1;
}

// Burger menu
.burger {
	display: none;
}
