$main-font: 'Raleway';

$accent-color: #6e9c9f;
$action-color: #509498;
$white-text-color: #fff;

$header-color: #fff;

$main-text-color: #000;

$bg-color: #f1eadc;

$grey: #d1d1d1;

$overlay-color-light: rgba(110, 156, 159, 0.64);
$overlay-color-darker: rgba(110, 156, 159, 0.95);

$burger-line-color: black;
